<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IOnlineLobbyService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8080/learningcard/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IOnlineLobbyService" contract="OnlineLearningCardService.IOnlineLobbyService"
        name="NetTcpBinding_IOnlineLobbyService">
        <identity>
          <userPrincipalName value="Speeder-A\Speeder" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="LearningCard.Model.OnlineLobbyServiceModel">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/learningcard"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="IMetadataExchange"/>
        <endpoint binding="netTcpBinding" contract="LearningCard.Model.IOnlineLobbyService">
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>